.result{
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 20%;
    left: 60%;
    width: 30rem;
    height: 25rem;
    overflow: scroll;
    color: white;
    padding: 5px;
}